********************************
          GENERAL STYLES
*********************************/
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #d34836;
  letter-spacing: 2px;
  text-align: center;
  font-size: 3.4em;
}

ul, li {
  font-weight: 300;
  list-style-type: none;
}

a {
  cursor: pointer;
}



/*********************************
           NAV STYLES
*********************************/
.nav-body {
  background: #F6F7F8;
}

.navbar-brand {
  padding: 6%;
  padding-left: 16%;
  color: #552624;
}

.link-container {
  margin: .2em 0 .2em 0;
  padding: .4em;
  font-size: 1.1em;
}

.nav-list {
  display: inline;
  list-style-type: none;
  padding-right: 13em;
  text-decoration: none;
  color: #552624;
}

.nav-links {
  color: #552624;
}

.nav-links:hover {
  text-decoration: none;
  font-size: 1.2em;
  border-bottom: 1px solid #552624;
}



/*********************************
          ARTIST STYLES
*********************************/
.artist-row {
  text-align: center;
}

.artist-ul {
  padding: 0;
}

.artist-li {
  padding: 1em;
}

.artist-a {
  color: #bdcccc;
  font-size: 1.3em;
}

.artist-a:hover {
  text-decoration: none;
  font-size: 1.4em;
  border-bottom: 1px solid #bdcccc;
  color: #bdcccc;
}


.glyphicon-plus {
  color: #d34836;
  font-size: 3.5em;
  padding-top: .2em;
}

.glyphicon-plus:hover {
  color: #ffff00;
  font-size: 4em;
  cursor: pointer;
}

/*********************************
        ARTIST DETAIL STYLES
*********************************/






/*********************************
          ALBUM STYLES
*********************************/
.album-row {
  text-align: center;
}

.album-ul {
  padding: 0;
}

.album-li {
  padding: 1em;
}

.album-a {
  color: #bdcccc;
  font-size: 1.3em;
}

.album-a:hover {
  text-decoration: none;
  font-size: 1.4em;
  border-bottom: 1px solid #bdcccc;
  color: #bdcccc;
}


.glyphicon-plus {
  color: #d34836;
  font-size: 3.5em;
  padding-top: .2em;
}

.glyphicon-plus:hover {
  color: #ffff00;
  font-size: 4em;
  cursor: pointer;
}



/*********************************
        ALBUM DETAIL STYLES
*********************************/





/*********************************
          TRACK STYLES
*********************************/
.track-row {
  text-align: center;
}

.track-ul {
  padding: 0;
}

.track-li {
  padding: 1em;
}

.track-a {
  color: #bdcccc;
  font-size: 1.3em;
}

.track-a:hover {
  text-decoration: none;
  font-size: 1.4em;
  border-bottom: 1px solid #bdcccc;
  color: #bdcccc;
}


.glyphicon-plus {
  color: #d34836;
  font-size: 3.5em;
  padding-top: .2em;
}

.glyphicon-plus:hover {
  color: #ffff00;
  font-size: 4em;
  cursor: pointer;
}

/*********************************
        TRACK DETAIL STYLES
********************************